 
  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
  }
  .kiter{
	display: none;
  }
  body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #985986;
	
  }

  #goBack{
	width: 220px;
	height: 30px;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-decoration: dashed;
	cursor: pointer;
	position: absolute;
	left: 3%;
	top: 3%
  }
  .wrapper{
	width: 450px;
	background: #fff;
	border-radius: 10px;
	
  }
  .wrapper header{
	display: flex;
	align-items: center;
	padding: 25px 30px 10px;
	justify-content: space-between;
	animation: rotateAnimation;
	animation: rotateBack;
}

  header{
	position: relative;
	justify-content: center;

  }
  header #emojiMonth{
	justify-content: center;
	font-size: 32px;
	display: flex;
	margin: 10px;
	position: absolute;
	top: 30%;
	left: 18;
	z-index: 2;
  }
  
  header .current-date{
	font-size: 1.46rem;
	font-weight: 500;
  	position: relative;
  	z-index: 1;
  }

  header .icons span{
	height: 40px;
	width: 40px;
	color: #6d6d6d;
	font-size: 1.9rem;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	display:inline-block;
  }
  header .icons span:hover{

	background: #f2f2f2;
  }
  header .icons span :last-child{
	margin-right: -10px;
  }
  .calendar{
	padding: 20px;
	display: block;
  }
  .calendar ul{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	text-align: center;
  }
  .calendar .days{
	margin-bottom: 20px;
  }
  .calendar .weeks li{
	font-weight: 600;
  }
  .calendar ul li{
	position: relative;
	width: calc(100% / 7);
  }
  .calendar .days li{
	z-index: 1;
	cursor: pointer;
	margin-top: 30px;
  }
  .days li.inactive{
	color: #686868b8;
  }
  .days li.active{
	color: #fff;

  }
  .calendar .days li::before{
	position: absolute;
	content: "";
	height: 37px;
	width: 37px;
	top: 50%;
	left: 50%;
	z-index: -1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
  }
  .calendar .days li:hover::before{
	border: 2px solid rgba(241, 35, 159, 0.433);
	box-shadow: 0 0 5px rgba(152, 89, 134, 0.5);

  }
  .days li:hover::before{
	background: #f2f2f2;

  }
  .days li.active::before{
	background: #985986;
  }
  /*back side*/
  .back{
	transform: rotateY(180deg);

  }
  #back{
	display: none;
  }
  #currDateBS{
	display: inline;
	font-size: 1.46rem;
	height: 20px;
	width: 20px;
  }
  div.back header .back-icon span{
	height: 40px;
	width: 40px;
	color: #6d6d6d;
	font-size: 1.9rem;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	
  }
  #reasonTextField {
	width: 80%;
	height: 200px;
	margin-left: 10%;
	margin-bottom: 4%;
	padding: 7%;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	text-align: start;
	display: flex; 
	resize: none;
	flex-direction: row; 
  }
  
  
  #reasonTextField:focus {
	outline: none;
	border-color: #985986;
	box-shadow: 0 0 5px rgba(152, 89, 134, 0.5);
  }


  
  #backDone {
	font-size: 31px;
	margin-left: 10px; 
	margin-right: 10px;
	color: #48ab4ad1;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	display:inline-block;
	width: 9%;
  }
  
  #backCancel {
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
	color: #af4747d2;
	cursor: pointer;
	text-align: center;
	border-radius: 50%;
	display:inline-block;
	height: -50px;
	line-height: 40px;
	width: 9%;
  }
  #reasonTextFieldWrapper {
	flex: 1;
  }
  
  #buttonsWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 4%;
  }
  

/*animation from front to back*/
  @keyframes rotateAnimation {
	0% {
	  transform: rotateY(0deg);
	  opacity: 0.7;
	}
	100% {
		opacity: 1;
		transform: rotateY(180deg);
	}
	
  }
  .rotate {
	animation: rotateAnimation 0.6s ease;
	transform: rotateY(180deg);

  }
  @keyframes rotateBack {
	0% {
		transform: rotateY(180deg);
		opacity: 0.7;
	}
	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}

  }
  .rotBack {
	animation: rotateBack 0.6s ease;
	transform: rotateY(0deg);
  }


  @keyframes glowGreen {
	0% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0);
	  }
	50% {
		box-shadow: 0 0 20px rgba(29, 217, 45, 0.482);
	  }
	100% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0);
	  }		
  }

.glowingGreen{
	animation: glowGreen 1s ease;
}

@keyframes glowRed {
	0% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0);
	  }
	50% {
		box-shadow: 0 0 20px rgba(243, 45, 52, 0.541);
		box-sizing: content-box;
	  }
	100% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0);
	  }		
  }

.glowingRed{
	animation: glowRed 1s ease;
}